body {
  margin: 0;
  font-family: Arial;
  background: black;
  color: cyan;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #111;
}

nav a {
  color: cyan;
  margin-left: 15px;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 60px;
}

.box {
  text-align: center;
  padding: 40px;
}

input {
  padding: 10px;
}

button {
  padding: 10px;
  background: cyan;
  border: none;
}