body {
  margin: 0;
  font-family: Arial;
  background: url("https://images.unsplash.com/photo-1501630834273-4b5604d2ee31") no-repeat center/cover;
  color: cyan;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: rgba(0,0,0,0.6);
}

header a {
  color: cyan;
  text-decoration: none;
  margin-left: 15px;
}

/* HERO */
.hero {
  text-align: center;
  padding: 60px;
}

/* BOX */
.box {
  width: 350px;
  margin: auto;
  background: rgba(0,0,0,0.6);
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 0 20px cyan;
}

input {
  padding: 10px;
  width: 70%;
}

button {
  padding: 10px;
  background: cyan;
  border: none;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  background: rgba(0,0,0,0.6);
}